.score {
  display: flex;
  flex-direction: column;
}

.score-text * {
  position: relative;
  color: #ac733c;
  font-size: 36px;
  font-weight: 400;
  margin: 0;
  background: -webkit-linear-gradient(top, #E77921, #FCF9B6 50%, #F69E4C);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.score-text *:before {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  width: 100%;
  color: rgb(7, 3, 3);
  z-index: -2;
}

.score-text *{
  font-size: 24px;
}

.score-highlighted {
  font-size: 32px;
}